
.about-wrapper {
  height: calc(100vh - 100px);
  width: 100%;
}
.about-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.about-card {
  height: 600px;
  display: flex;
}
.about-col {
  height: 100%;
  width: 50%;
}
.about-category {
  // justify-content: center;
  align-items: center;
  margin: 0 20%;
  font-size: 70px;
  text-align: left;
}
.about-text {
  padding: 0 10%;
  display: flex;
  // text-align: justify;
  justify-content: center;
  flex-direction: column;
}
.about-text a {
  color: $white;
  text-decoration: none;
  font-weight: bold;
}
.hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

// Image styles
.about-intro-image {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(22,22,22,1.0) 100%), url('charlie-in-window-filter-1.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
}
.about-business-school-image {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(22,22,22,1.0) 100%), url('business-school-3.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-banking-image {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(22,22,22,1.0) 100%), url('nyc-skyline.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-journalism-image {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(22,22,22,1.0) 100%), url('journalism-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-freelance-image {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(22,22,22,1.0) 100%), url('freelance.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-kth-image {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(22,22,22,1.0) 100%), url('kth-2.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-moocs-image {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(22,22,22,1.0) 100%), url('moocs-1.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-bootcamp-image {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(22,22,22,1.0) 100%), url('bootcamp-group-photo-filter-4.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

// Carousel custom design
// .carousel-indicators li {
//   border: 1px solid $yellow;
// }
// .carousel-indicators .active {
//   background-color: $yellow;
// }
