/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
html {
  background-color: $black;
  // width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  background-color: transparent;
  color: $white;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin: 0;
  font-size: 60px;
}
h2 {
  text-align: center;
  margin: 0;
}
h3 {
  margin: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.no-margin {
  margin: 0 !important;
}
.general-wrapper {
  height: auto;
  width: 100vw;
  // background-color: $gray;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.header-row {
  margin: 40px 0;
}
.card {
  // background-color: $lightgray;
  display: flex;
  align-items: center;
  margin: 30px 0;
  position: relative;
}
.card-title {
  margin: 0 0 30px 0;
  text-align: left;
  font-size: 50px;
}
.card-title-small {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 30px;
}
.card-title-small-xs {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 25px;
}
.card-description {
  text-align: justify;
  // font-family: $header-font;
}
.card-description a:hover {
  color: white;
}

// Carousel custom design
.carousel-indicators {
  position: static;
  // bottom: 0;
  // left: 0;
  width: auto;
  margin: 10px 0 10px 0;
}
.carousel-control {
  height: calc(100% - 42px);
}

// Break words/lines by adding a dash
.hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
