.portfolio-wrapper {
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  width: 100%;
  // background-color: $gray;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.projects-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.project-row {
  // background-color: #DDDDDD;
  width: 100%;
  height: 500px;
  margin: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.project-descr-wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.portfolio-box {
  min-height: 100%;
  width: 100%;
}
.portfolio-row {
  display: flex;
}

// Project row backgrounds
#inline {
  background-image: image-url("inline-home-page.png");
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
}
#unify {
  background-image: image-url("unify-home-page-adjusted-2.png");
  background-size: cover;
  background-position: top;
  // background-attachment: fixed;
}
#app-3 {

}

// For project description slide effects
figure {
  display: block;
  position: relative;
  overflow: hidden;
}
figcaption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  color: $white;
  // padding: 0px 200px;
  text-align: left;

  bottom: -92%;
  left: 0px;

  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
.slide-up-caption {
  bottom: 0 !important;
  background: rgba(0,0,0,0.8);
}
.show-btn {
  position: absolute;
  top: 0;
  align-self: center;
  border: none;
  background-color: transparent;
}
.show-info {
  cursor: pointer;
  background: $black;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}
.hide-info {
  cursor: pointer;
  top: 10px;
}
figcaption h3 {
  margin-bottom: 30px;
  font-size: 30px;
}
figcaption p {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: justify;
}
figcaption ul {
  padding-left: 20px;
}
figcaption li {
  font-size: 16px;
}
figcaption a {
  color: $white;
  text-decoration: none;
}
figcaption a > p {
  color: $white;
  text-decoration: none;
  margin: 0;
  font-weight: bold;
}
figcaption a:hover, a p:hover  {
  color: white;
  text-decoration: none;
}

// For responsive text columns
// .col-2 {
//   -moz-column-count: 2;
//   -webkit-column-count: 2;
//   column-count: 2;
// }

.skill-logos-small {
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-bottom: 10px;
}
.skill-logo-small {
  height: 25px;
}
.skill-frame-small {
  background-color: $lightgray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 5px 0;
}
