
// General
.skills-wrapper {
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.skills-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.skill-frame {
  background-color: $lightgray;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-logo {
  height: 120px;
}

// Back-end skills
.back-end-container {
  // background-color: lightgrey;
  height: 600px;
  margin-bottom: 100px;
}
.back-end-skill-title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.back-end-skill-logos {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Front-end skills
.front-end-container {
  //  background-color: lightgrey;
  height: 600px;
  margin-bottom: 100px;
}
.front-end-skill-title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.front-end-skill-logos {
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Slider design
.carousel-control {
  background-image: none !important;
}
