
// General
.skills-wrapper {
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.skills-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.skill-frame {
  background-color: $lightgray;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.skill-logo {
  height: 80px;
}
.skill-title {
  margin: 20px 0;
  position: absolute;
  top: 0;
  align-self: center;
  display: flex;
  justify-content: center;
}

// Back-end skills
.back-end-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // margin-bottom: 100px;
}
// .back-end-skill-title {
//   height: 100px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.back-end-skill-logos {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Front-end skills
.front-end-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-bottom: 100px;
}
// .front-end-skill-title {
//   height: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.front-end-skill-logos {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Slider design
.carousel-control {
  background-image: none !important;
}
