
<div class="footer">

      <div class="footer-wrapper">
        <a href="https://www.linkedin.com/in/charlie-jeppsson-71315661" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://github.com/charliejeppsson" class="fa fa-github" target="_blank"></a>
        <a href="https://www.facebook.com/charlie.jeppsson" class="fa fa-facebook" target="_blank"></a>
        <a href="mailto:charlie.jeppsson1@gmail.com" class="fa fa-google-plus"></a>
      </div>

</div>
