
<div id="footer">
  <div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="col-xs-3">
            <a href="https://www.linkedin.com/in/charlie-jeppsson-71315661" class="fa fa-linkedin" target="_blank"></a>
          </div>
          <div class="col-xs-3">
            <a href="https://github.com/charliejeppsson" class="fa fa-github" target="_blank"></a>
          </div>
          <div class="col-xs-3">
            <a href="https://www.facebook.com/charlie.jeppsson" class="fa fa-facebook" target="_blank"></a>
          </div>
          <div class="col-xs-3">
            <a href="mailto:charlie.jeppsson1@gmail.com" class="fa fa-google-plus"></a>
          </div>
        </div>
    </div>
  </div>
</div>
