
<div id="footer">
  <div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="col-xs-3">
            <a href="#" class="fa fa-linkedin"></a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="fa fa-github"></a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="fa fa-facebook"></a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="fa fa-twitter"></a>
          </div>
        </div>
    </div>
  </div>
</div>
