
<div class="my-navbar">
  <!-- Left navigation, home button (i.e. to top) -->
  <div class="my-navbar-left">
    <a href="/" class="my-navbar-item my-navbar-link" id="my-navbar-name">Charlie Jeppsson</a>
    <p class="my-navbar-item">Full stack web developer</p>
  </div>

  <!-- Right navigation -->
  <div class="my-navbar-right">
    <a id="about-scroll" class="my-navbar-item my-navbar-link">About me</a>
    <a id="skills-scroll" class="my-navbar-item my-navbar-link">My skills</a>
    <a id="my-work-scroll" class="my-navbar-item my-navbar-link">My work</a>
    <a id="connect-scroll" class="my-navbar-item my-navbar-link">Contact</a>
  </div>
</div>
