
<div class="my-navbar">
  <!-- Left side for viewport sizes sm, md and lg -->
  <div class="my-navbar-left-big hidden-xs">
    <a href="/" class="my-navbar-item my-navbar-link">Charlie Jeppsson</a>
    <p class="my-navbar-item">Full stack web developer</p>
  </div>
  <!-- Left side for viewport size xs-->
  <div class="my-navbar-left-small visible-xs">
    <a href="/" class="my-navbar-item my-navbar-link">Charlie Jeppsson</a>
    <p class="my-navbar-item">Full stack web developer</p>
  </div>

  <!-- Right side for viewport sizes sm, md and lg -->
  <div class="my-navbar-right-big hidden-xs">
    <a class="my-navbar-item my-navbar-link about-scroll">About me</a>
    <a class="my-navbar-item my-navbar-link skills-scroll">My skills</a>
    <a class="my-navbar-item my-navbar-link my-work-scroll">My work</a>
    <a class="my-navbar-item my-navbar-link connect-scroll">Contact</a>
  </div>

  <!-- Right side for viewport sizes sm, md and lg -->
  <div class="my-navbar-right-small visible-xs">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a class="my-navbar-item my-navbar-link about-scroll">About me</a></li>
        <li><a class="my-navbar-item my-navbar-link skills-scroll">My skills</a></li>
        <li><a class="my-navbar-item my-navbar-link my-work-scroll">My work</a></li>
        <li><a class="my-navbar-item my-navbar-link connect-scroll">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
