
<div class="navbar-wagon">
  <!-- Left navigation, home button -->
  <a href="/" class="navbar-wagon-item navbar-wagon-link" id="navbar-wagon-name">
    Charlie Jeppsson
  </a>

  <!-- Right navigation -->
  <div class="navbar-wagon-right">
    <a href="/" class="navbar-wagon-item navbar-wagon-link">Work</a>
    <a href="/" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="/" class="navbar-wagon-item navbar-wagon-link">Contact</a>
  </div>
</div>
