
<div class="general-wrapper">
  <div class="about-wrapper">
    <div class="container about-container">
      <div class="row header-row">
        <h1>About me</h1>
      </div>
      <%= render partial: "about_big" %>
      <%= render partial: "about_small" %>
    </div>
  </div>
</div>
