
<div class="general-wrapper">
  <div class="about-wrapper">
    <div class="container about-container">
      <div class="row header-row">
        <h1>My story</h1>
      </div>

      <div id="about-slider" class="carousel slide" data-ride="carousel">
        <!-- Slider indicators -->
        <ul class="carousel-indicators">
          <li data-target="#about-slider" data-slide-to="0" class="active"></li>
          <li data-target="#about-slider" data-slide-to="1"></li>
          <li data-target="#about-slider" data-slide-to="2"></li>
          <li data-target="#about-slider" data-slide-to="3"></li>
          <li data-target="#about-slider" data-slide-to="4"></li>
          <li data-target="#about-slider" data-slide-to="5"></li>
        </ul>

        <!-- Slide wrapper -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-intro-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title">Hi! I'm Charlie.</h2>
                <p class="card-description">
                  I'm a 26-year-old full stack web developer from Stockholm, Sweden.</br></br>

                  <!-- My coding journey started in 2015 when I, approaching the end of my bachelor at the Stockholm School of Economics, decided to take a summer course in Python. I was hooked instantly.</br></br>

                  Since then I've learned tons, both on my own with the help of MOOC providers such as Treehouse, Code School and Free Code Camp, but also from attending Le Wagon's full stack web development bootcamp.</br></br> -->

                  My toolbox presently include back-end technologies such as Ruby on Rails, ActiveRecord and PostgreSQL, front-end tools such as HTML/CSS and JavaScript, and other handy tools such as Git, GitHub and Heroku.</br></br>

                  At present, I am open for full stack and back-end opportunities. If you think I would make a good match for a project or position, don't hesitate to <a href="">send me an email</a> or connect with me on my social media channels.</br></br>

                  If you want to know more about my story and how I ended up becoming a developer, click the arrow to the right!</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-business-school-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title">Chapter 1. Business school</h2>
                <p class="card-description">I'm schoolsmart.</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-banking-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title">Chapter 2. Investment banking</h2>
                <p class="card-description">
                  Before I realized coding was my calling, I tried a bunch of different things, in a quest to find that perfect dream job that everybode else around me seemed to have found.</br></br>
                  For the last six months of my bachelor, when writing my thesis within mergers & acquisitions, I tried investment banking. While somewhat satisfied by the analytical dimensions of the job, the culture clash was way too big for me to accept the full-time offer I ultimately received.</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-journalism-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title">Chapter 3. Journalism</h2>
                <p class="card-description">
                  After a slight career crisis and a quite cliché 3-month existential "find myself" surf trip, I remembered the writing. I had loved writing since I was a kid, and I actually got pretty good at it in high school. Whatever happened to that? I must give it a shot, I thought.</br></br>

                  Said and done, I got my first job as a writer a few months later as journalist and web editor at one of Sweden's biggest business magazines. Here I spent my days reporting on the latest in innovation, business, sustainability and finance. It was great! I learned tons on a broad variety of topics and culturally it was a perfect match. However, something was still missing.</br></br>

                  About 8 months in, I found myself evermore frequently sitting on the wrong side of the table. I realized it would not be enough for me to just report on all these innovative ideas and products when the only thing I kept wishing was getting in on the action. So that's what I decided to do.
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-freelance-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title">Chapter 4. Freelancing</h2>
                <p class="card-description">
                  After a substantial amount of research I found a startup with a product that really resonated with me on so many levels. It was a

                  I started my firm, from which I would consult on business strategy projects.</br></br>
                  FBM</br></br>
                  At Night</br></br>
                  Convendum</br></br>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-bootcamp-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title">Chapter 5. Code school</h2>
                <p class="card-description">
                  I know coding.</br></br>

                  To be continued...
                </p>
              </div>
            </div>
          </div>

        </div>

        <a class="left carousel-control" href="#about-slider" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="right carousel-control" href="#about-slider" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>

      </div>

      <!-- <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
          <div class="card about">
            <h3 class="card-title">Freelancing entrepreneur</h3>
            <p class="card-description">I'm streetsmart.</p>
          </div>
          <div class="card about">
            <h3 class="card-title">Former banker, journalist and business developer</h3>
            <p class="card-description">I know business.</p>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="card about">
            <h3 class="card-title">Stockholm School of Economics alumni</h3>
            <p class="card-description">I'm schoolsmart.</p>
          </div>
          <div class="card about">
            <h3 class="card-title">Coding bootcamp alumni</h3>
            <p class="card-description">I know coding.</p>
          </div>
        </div>
      </div> -->


    </div>
  </div>
</div>
