
<div class="general-wrapper">
  <div class="about-wrapper">
    <div class="container about-container">
      <div class="row header-row">
        <h1>About me</h1>
      </div>

      <div id="about-slider" class="carousel slide" data-ride="carousel">
        <!-- Slider indicators -->
        <ul class="carousel-indicators">
          <li data-target="#about-slider" data-slide-to="0" class="active"></li>
          <li data-target="#about-slider" data-slide-to="1"></li>
          <li data-target="#about-slider" data-slide-to="2"></li>
          <li data-target="#about-slider" data-slide-to="3"></li>
          <li data-target="#about-slider" data-slide-to="4"></li>
          <li data-target="#about-slider" data-slide-to="5"></li>
          <li data-target="#about-slider" data-slide-to="6"></li>
          <li data-target="#about-slider" data-slide-to="7"></li>
          <li data-target="#about-slider" data-slide-to="8"></li>
          <li data-target="#about-slider" data-slide-to="9"></li>
        </ul>

        <!-- Slide wrapper -->
        <div class="carousel-inner" role="listbox">


          <div class="item active">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-intro-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title">Hi! I'm Charlie.</h2>
                <p class="card-description">
                  I'm a 26-year-old full stack web developer from Stockholm, Sweden.</br></br>

                  <!-- My coding journey started in 2015 when I, approaching the end of my bachelor at the Stockholm School of Economics, decided to take a summer course in Python. I was hooked instantly.</br></br>

                  Since then I've learned tons, both on my own with the help of MOOC providers such as Treehouse, Code School and Free Code Camp, but also from attending Le Wagon's full stack web development bootcamp.</br></br> -->

                  My main skills include back-end technologies such as Ruby on Rails, ActiveRecord and PostgreSQL, front-end tools such as HTML/CSS and JavaScript, and other handy tools such as Git, GitHub and Heroku.</br></br>

                  At present, I am open for full stack and back-end opportunities. If you think I might make a good match for a project or position, don't hesitate to <a href="">send me an email</a> or connect with me on any of my social media channels.</br></br>

                  If you want to know more about my story and how I ended up becoming a developer, click the arrow to the right!</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-12">
                <h1 class="about-category">Before I became a developer, I did a lot of different things.</h1>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-business-school-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title" style="font-size: 80px;">I went to business school.</h2>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-banking-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title" style="font-size: 80px;">I tried out investment banking.<!-- </br></br>Didn't like it.</h2> -->
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-journalism-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title" style="font-size: 80px;">I gave business journalism a shot.</h2>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-freelance-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title" style="font-size: 70px;">I set up my own firm and freelanced for a few years.</h2>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-12">
                <h1 class="about-category">Then I decided to get serious about my newfound passion: coding.</h1>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-kth-image"></div>
              <div class="col-xs-6 about-col about-text hyphens">
                <h2 class="card-title" style="font-size: 70px;">I studied back-end development at the Royal Institute of Technology.</h2>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-moocs-image"></div>
              <div class="col-xs-6 about-col about-text hyphens">
                <h2 class="card-title" style="font-size: 70px;">I taught myself front-end development with the help of some great MOOCs.</h2>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card about-card">
              <div class="col-xs-6 about-col about-bootcamp-image"></div>
              <div class="col-xs-6 about-col about-text">
                <h2 class="card-title" style="font-size: 70px;">Then I put all the pieces together with Le Wagon's coding bootcamp.</h2>
              </div>
            </div>
          </div>

        </div>

        <a class="left carousel-control" href="#about-slider" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="right carousel-control" href="#about-slider" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>

      </div>

      <!-- <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
          <div class="card about">
            <h3 class="card-title">Freelancing entrepreneur</h3>
            <p class="card-description">I'm streetsmart.</p>
          </div>
          <div class="card about">
            <h3 class="card-title">Former banker, journalist and business developer</h3>
            <p class="card-description">I know business.</p>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="card about">
            <h3 class="card-title">Stockholm School of Economics alumni</h3>
            <p class="card-description">I'm schoolsmart.</p>
          </div>
          <div class="card about">
            <h3 class="card-title">Coding bootcamp alumni</h3>
            <p class="card-description">I know coding.</p>
          </div>
        </div>
      </div> -->


    </div>
  </div>
</div>
