

<div id="about-slider" class="carousel slide visible-md visible-lg" data-ride="carousel">

  <!-- Slide wrapper -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="card about-card">
        <div class="col-xs-6 about-col about-intro-image"></div>
        <div class="col-xs-6 about-col about-text">
          <h2 class="card-title">Hi! I'm Charlie.</h2>
          <div class="card-description">
            <p>I'm a 26-year-old full stack web developer from Stockholm, Sweden.</p>

            <p>My array of skills include technologies such as Ruby on Rails, JavaScript, HTML/CSS, ActiveRecord, PostgreSQL, Bootstrap, Git, GitHub and Heroku.</p>

            <p>At present, I am open for full stack and back-end opportunities. If you think I might make a good match for a project or position, don't hesitate to <a class="connect-scroll">send me an email</a> or connect with me on any of my social media channels.</p>

            <p>If you want to know more about my story and how I ended up becoming a developer, click the arrow to the right!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-12">
          <h1 class="about-category">Before I became a developer, I did a lot of different things.</h1>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-6 about-col about-business-school-image"></div>
        <div class="col-xs-6 about-col about-text" style="padding: 0 15%;">
          <h2 class="card-title">I went to business school.</h2>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-6 about-col about-banking-image"></div>
        <div class="col-xs-6 about-col about-text" style="padding: 0 15%;">
          <h2 class="card-title">I tried out investment banking.<!-- </br></br>Didn't like it.</h2> -->
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-6 about-col about-journalism-image"></div>
        <div class="col-xs-6 about-col about-text" style="padding: 0 15%;">
          <h2 class="card-title">I wrote and edited for a business magazine.</h2>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-6 about-col about-freelance-image"></div>
        <div class="col-xs-6 about-col about-text" style="padding: 0 15% 0 10%;">
          <h2 class="card-title">I set up my own firm and freelanced for a few years.</h2>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-12">
          <h1 class="about-category">Then I decided to get serious about my newfound passion: coding.</h1>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-6 about-col about-kth-image"></div>
        <div class="col-xs-6 about-col about-text hyphens">
          <h2 class="card-title">I studied back-end development at the Royal Institute of Technology.</h2>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-6 about-col about-moocs-image"></div>
        <div class="col-xs-6 about-col about-text hyphens">
          <h2 class="card-title">I taught myself front-end development with the help of some great MOOCs.</h2>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-6 about-col about-bootcamp-image"></div>
        <div class="col-xs-6 about-col about-text">
          <h2 class="card-title">Then I put all the pieces together with Le Wagon's coding bootcamp.</h2>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card about-card">
        <div class="col-xs-12">
          <h1 class="about-category">Now, with a solid foundation established, I'm eager to take on new challenges.</h1>
          <br>
          <h1 class="about-category">If you're interested in working together, feel free to check out my previous work or get in touch!</h1>
        </div>
      </div>
    </div>

  </div>

  <a class="left carousel-control" href="#about-slider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>

  <a class="right carousel-control" href="#about-slider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

  <!-- Slider indicators -->
  <div class="row">
    <ul class="carousel-indicators">
      <li data-target="#about-slider" data-slide-to="0" class="active"></li>
      <li data-target="#about-slider" data-slide-to="1"></li>
      <li data-target="#about-slider" data-slide-to="2"></li>
      <li data-target="#about-slider" data-slide-to="3"></li>
      <li data-target="#about-slider" data-slide-to="4"></li>
      <li data-target="#about-slider" data-slide-to="5"></li>
      <li data-target="#about-slider" data-slide-to="6"></li>
      <li data-target="#about-slider" data-slide-to="7"></li>
      <li data-target="#about-slider" data-slide-to="8"></li>
      <li data-target="#about-slider" data-slide-to="9"></li>
      <li data-target="#about-slider" data-slide-to="10"></li>
    </ul>
  </div>

</div>
