
<div class="general-wrapper">
  <div class="portfolio-wrapper">
    <div class="container projects-container">
      <div class="row header-row">
        <h1>My work</h1>
      </div>

      <div id="portfolio-slider" class="carousel slide" data-ride="carousel">

        <!-- Slide wrapper -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= render partial: "portfolio_project_2" %>
          </div>
          <div class="item active">
            <%= render partial: "portfolio_project_4" %>
          </div>
          <div class="item">
            <%= render partial: "portfolio_project_1" %>
          </div>
          <div class="item">
            <%= render partial: "portfolio_project_3" %>
          </div>

          <a class="left carousel-control" href="#portfolio-slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>

          <a class="right carousel-control" href="#portfolio-slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>

          <!-- Slider indicators -->
          <div class="row">
            <ul class="carousel-indicators">
              <li data-target="#portfolio-slider" data-slide-to="0" class="active"></li>
              <li data-target="#portfolio-slider" data-slide-to="1"></li>
              <li data-target="#portfolio-slider" data-slide-to="2"></li>
              <li data-target="#portfolio-slider" data-slide-to="3"></li>
            </ul>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
