
<div class="general-wrapper">
  <div class="skills-wrapper">
    <div class="container skills-container">
      <div class="row header-row">
        <h1>My skills</h1>
      </div>
      <%= render partial: "skills_slider_big" %>
      <%= render partial: "skills_slider_small" %>
    </div>
  </div>
</div>
