/* Main class */
.my-navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $black;
  transition: all 0.3s ease;
  width: 100vw;
  position: fixed;
  display: flex;
  height: 100px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  z-index: 1;
  font-family: $header-font;
}

#my-navbar-name {
  font-size: 30px;
}

/* Navbar right section (with form, links, button) */
.my-navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-navbar-right a {
  font-size: 18px;
}
.my-navbar-left p {
  font-size: 20.5px;
  margin: 0;
}

/* Navbar item */
.my-navbar-item {
  flex: 0 1 auto;
  // cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.my-navbar-link {
  color: $white;
  font-size: 14px;
}
.my-navbar-link:hover {
  color: $yellow;
  text-decoration: none;
}
