
.my-navbar {
  background-color: rgba(22,22,22,0.8);
  transition: all 0.3s ease;
  width: 100vw;
  position: fixed;
  display: flex;
  height: 100px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  font-family: $header-font;
}

/* Navbar left section */
.my-navbar-left {
  margin: 0;
}
.my-navbar-left-big p {
  font-size: 20.5px;
  margin: 0;
}
.my-navbar-left-big a {
  font-size: 30px;
}
.my-navbar-left-small p {
  font-size: 12.3px;
  margin: 0;
  padding: 0;
}
.my-navbar-left-small a {
  font-size: 18px;
  padding: 0;
}

/* Navbar right section */
.my-navbar-right-big {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-navbar-right-big a {
  font-size: 18px;
}
.my-navbar-right-small a {
  font-size: 11px;
}
.my-navbar-right-small i {
  font-size: 25px;
}
.my-navbar-right-small .dropdown-menu {
  min-width: 100px;
}

/* Navbar item */
.my-navbar-item {
  flex: 0 1 auto;
  // cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.my-navbar-link {
  color: $white;
  font-size: 14px;
  cursor: pointer;
}
.my-navbar-link:hover {
  color: $yellow;
  text-decoration: none;
}
